:host {
  display: flex;
  align-items: center;

  form {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
    gap: 30px;

    .form-field {
      background-color: #dfdfef;
      width: calc(50% - 30px);
      height: 100px;
      display: flex;
      flex-direction: column;
    }

    .form-field-notes {
      background-color: #dfdfef;
      width: calc(100% - 30px);
      height: 200px;
      display: flex;
      flex-direction: column;
    }

    #company,
    #start,
    #end,
    #price,
    #card-id,
    #person-id {
      width: calc(90% - 30px);
      height: 30px;
      align-self: center;
      border-radius: 3px;
    }

    .form-field-id,
    .form-field-card,
    .form-field-start,
    .form-field-end {
      background-color: #dfdfef;
      width: calc(25% - 30px);
      height: 100px;
      display: flex;
      flex-direction: column;
    }
    .form-field-payment,
    .form-field-direct {
      display: flex;
      flex-direction: row;
      background-color: #dfdfef;
      width: calc(50% - 30px);
      height: 100px;
      align-items: center;
      justify-content: space-around;
    }

    label {
      font-size: large;
      padding-bottom: 10px;
      /* align the input in order to be above the beginning of the input */
      margin-left: 45px;
      margin-top: 10px;
    }

    #card-id,
    #person-id {
      width: 220px;
    }

    .action-buttons {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding-top: 10px;
      margin-bottom: 30px;
    }
  }
  #submit-button,
  #reset-button {
    border-color: #4caf50;
    width: 150px;
    height: 50px;
    font-size: large;

    #submit-button,
    #reset-button {
      border-color: #4caf50;
      width: 150px;
      height: 50px;
      font-size: large;
    }

    #submit-button:hover,
    #reset-button:hover {
      background-color: #4caf50;
    }
  }
}
